body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    font:22.5px/1.5 Tangerine, serif;
		padding: 2px;
		margin:2; 
	
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}
img{
    margin:auto;
    }
