.hi{
    color:#A52A2A;
    text-align:center;
}
header ul{
		        margin:0;
		        padding:0;
		}
		header li{
			    float:left;
			    list-style-type: none;
		    	padding:0 20px 0 20px;
				}
		header nav{
			    margin-top:5px;
			    float:right;
		}
		.container{
	        	width:92%;
	        	margin:auto;
	        	overflow:hidden;
		}
		header{
            
            	background:url('https://thumb1.shutterstock.com/display_pic_with_logo/826930/509910508/stock-photo-encryption-algorithms-and-cryptography-concepts-matching-public-and-private-keys-made-of-509910508.jpg');
            	padding-top:30px;
            	min-height:30px;
            	border-bottom:black 1.5px solid;
	
	
}
header a{
        		color:black;
        		text-decoration:none;
        		text-transform:uppercase;
        		font-size:120%;
	
	
}