.hi{
    color:#A52A2A;
    text-align:center;
}
header ul{
		        margin:0;
		        padding:0;
		}
		ader li{
			
			    display:inline;
		    	padding:0 20px 0 20px;
				}
		header nav{
			    margin-top:5px;
			    float:right;
		}
		.container{
	        	width:92%;
	        	margin:auto;
	        	overflow:hidden;
		}