.hi{
    color:#A52A2A;
    text-align:center;
}
header ul{
		        margin:0;
		        padding:0;
		}
		header li{
			    float:left;
			    
		    	padding:0 20px 0 20px;
				}
		header nav{
			    margin-top:5px;
			    float:right;
		}
		.container{
	        	width:92%;
	        	margin:auto;
	        	overflow:hidden;
		}
		header{
            
            	background-color:#4682B4;
            	color:black;
            	padding-top:10px;
            	min-height:10px;
            	border-bottom:black 1.5px solid;
	
	
}
header a{
        		color:black;
        		text-decoration:none;
        		text-transform:uppercase;
        		font-size:120%;
	
	
}